.element-slide_wrapper {
    display: inline-block;
    margin: 1em;
    width: 300px;
    border : 1px solid red;
    padding: 0px 20px;
    img {
        display: block;
        width: 100%;
    }
    .content {
        background: rgb(202,202,202);
        width: 0;
        width: 100%;
        p {
            margin: 0;
            padding: 0;
        }
    }
}
